<header
	class="fixed top-0 left-0 right-0 w-full bg-gray-200 bg-opacity-20 backdrop-blur-lg drop-shadow-lg text-4xl font-bold px-8 py-4 mb-4 z-10">
	<article class="container m-auto">
		<h1 class="ml-24">
			<a href="/" class="text-gray-800 transition-all duration-300 hover:no-underline hover:text-sky-600">
				<span>Lucas Ribeiro</span>
			</a>
		</h1>
	</article>
</header>